:root {
  --primery-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 16px;
  font-family: var(--primery-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

.list-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.link-main {
  font-family: var(--primery-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.link-main:hover {
  color: blue;
  text-decoration: underline;
}

.link-go-main {
  color: blue;
  text-decoration: underline;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.header {
  font-family: var(--primery-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.sub-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-item {
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 100px 156px;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.gallery-item img {
  height: 100%;
  object-fit: cover;
}

#name-input {
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin: 24px 24px 16px;
  padding: 8px 16px;
}

.header-three {
  font-family: var(--primery-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 24px;
}

.login-form {
  padding: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-label:not(:last-child) {
  margin-bottom: 8px;
}

.form-label input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.form-label input:hover {
  border-color: #000;
}

.login-form button {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  min-width: 86px;
  height: 40px;
  margin-top: 8px;
  background: #4e75ff;
}

.login-form button:hover,
.widget button:hover,
#controls button[data-create]:hover {
  background: #6c8cff;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 100px 88px;
}

.widget p {
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.widget button {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  min-width: 148px;
  height: 40px;
  background: #4e75ff;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 24px 16px;
  border-radius: 8px;
  padding: 32px;
  min-width: 486px;
  height: 104px;
  background: #f6f6fe;
  margin-bottom: 16px;
}

#controls input {
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
}

#controls button {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
}

#controls button[data-create] {
  background: #4e75ff;
}

#controls button[data-destroy] {
  background: #ff4e4e;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 20px;
  border-radius: 8px;
  padding: 32px;
  min-width: 486px;
  height: 134px;
  background: #f6f6fe;
}

#controls button[data-destroy]:hover {
  background: #ff7070;
}
